<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Налаштування для підключення до бази даних MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Finance?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456789</property>

        <!-- Додаткові налаштування Hibernate -->
        <!-- ... -->

        <!-- Включення анотацій для сутнісних класів -->
        <mapping class="com.example.controlfinances.models.User"/>
        <mapping class="com.example.controlfinances.models.Category"/>
        <mapping class="com.example.controlfinances.models.Transaction"/>
    </session-factory>
</hibernate-configuration>
