.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 20px; /* Додайте відступи з обох боків */
}

.auth-form {
    width: 45%; /* Змініть ширину форм за бажанням */
}

#toggle-form-button {
    width: 10%; /* Змініть ширину кнопки за бажанням */
}


.error-message {
    color: red;
    font-size: 14px;
}

.auth-form h2 {
    margin-top: 0;
    text-align: center;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
