<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="auth-form" id="login-form">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="text" name="name" id="login-username" placeholder="Username" required>
            <input type="password" name="password" id="login-password" placeholder="Password" required>
            <span id="error-message" class="error-message"></span>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="auth-form" id="register-form" style="display: none;">
        <h2>Register</h2>
        <form action="/create" method="post">
            <input type="text" name="name" id="register-username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <span id="password-error" class="error-message"></span>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
<button id="toggle-form-button">Switch to Register</button>
<script src="script.js"></script>
</body>
</html>
