<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="auth-container"> <!-- Окремий контейнер для форми -->
        <div class="auth-form" id="login-form">
            <h2>Login</h2>
            <form action="/login" method="post">
                <input type="text" name="name" id="userName" placeholder="userName" required>
                <input type="password" name="password" id="userPassword" placeholder="userPassword" required>
                <span id="error-message" class="error-message"></span>
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="switch-button">
            <a href="/create">Switch to Register</a>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>
